AWS_REGION="us-east-1"
AWS_ACCOUNT_ID="588856577805"
ECR_REPO="textile-lab"
IMAGE_TAG="local"
DOCKERFILE="Dockerfile.lambda"
PLATFORM="linux/amd64"
AWS_PROFILE="textile"
UPDATE_LAMBDA="true"
LAMBDA_FUNCTION_NAME="textile-lab-func"
BUILD_ASSETS="true"
